html {
  overflow-x: auto;
  overflow-y: scroll;
}
body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h4,
h5 {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFFFFF;
  font-size: 14px;
  padding: 0 10px;
  text-align: left;
}
select {
  font-size: 12px;
}
table {
  border-collapse: collapse;
}
fieldset,
img {
  border: 0 none;
}
fieldset {
  margin: 0;
  padding: 0;
}
fieldset p {
  margin: 0;
  padding: 0 0 0 8px;
}
legend {
  display: none;
}
address,
caption,
em,
strong,
th,
i {
  font-style: normal;
  font-weight: 400;
}
table caption {
  margin-left: -1px;
}
ol,
ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
caption,
th {
  text-align: left;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #F0F2F5;
  font-family: '微软雅黑';
}
html body {
  margin: 0;
  padding: 0 !important;
  height: 100%;
  font-family: '微软雅黑';
}
html body #app {
  height: 100%;
  font-family: '微软雅黑';
}
input:-internal-autofill-selected {
  box-shadow: inset 0 0 0 1000px #f7f7f7 !important;
}
tr.el-table__row {
  height: 50px !important;
}
