.cursor {
  cursor: pointer;
}
.bis {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
 /deep/ .el-loading-mask {
  background: #ffffff;
  z-index: 10;
  width: 100%;
  height: 100vh;
}
